body {
    background-color: #111;
    color: #fff;
    margin: 0 3%;

    font-family: 'helvetica';
}

form {
    padding: 8px;
    background-color: #222;
    box-shadow: 1px 1px 2px 0px #222;
}

.module {
    display: block;
    margin-top: 8px;
}

input[type="button"], input[type="submit"], input, select {
    padding: 8px;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 2px;
}
input[type="button"]:hover, input[type="submit"]:hover, input:hover, select:hover {
    background-color: #444;
    box-shadow: 1px 1px 2px 0px #444;
}

select {
    padding: 7px;
}

#add-module-btn {
    margin-top: 12px;
}

#calc-btn {
    display: block;
    margin-top: 24px;
}
